body{
    background-color: #1a1a2e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
nav{
    box-sizing: border-box;
    width: 100%;
    padding: 1em 5%;
    background: #00134d;
    border-bottom: 0.0625rem solid black;
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    font-size: 1.75rem;
    font-weight: 700;
    color: #e2e8f0;
    letter-spacing: 0.0625em;
}

.Links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.Links li a{
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: #e2e8f0;
    transition: 0.3s;
}

.Links li a:hover{
    color: white;
    text-shadow: 0 0 10px white;
}

.Links li a.active{
    color: #cccccc;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    background-image: linear-gradient(to right, #e2e8f0, #00134d);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}